# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/ActionButtons.js
src/ActionButtons.js
src/TaskBox.js
src/TaskBoxMore.js
src/TaskCategory.js
src/TaskCount.js
src/TaskCount1.js
src/TaskCount2.js
src/TaskGoalDate.js
src/TaskList02.js
src/TaskPersonal.js
src/TaskTile.js
src/TaskTitle.js
src/TaskWork.js
src/Test_Task_List.js
src/Dormant Components/ActionButtons.js
src/Dormant Components/TaskBox.js
src/Dormant Components/TaskBoxMore.js
src/Dormant Components/TaskCategory.js
src/Dormant Components/TaskCount.js
src/Dormant Components/TaskCount1.js
src/Dormant Components/TaskCount2.js
src/Dormant Components/TaskGoalDate.js
src/Dormant Components/TaskList02.js
src/Dormant Components/TaskPersonal.js
src/Dormant Components/TaskTile.js
src/Dormant Components/TaskTitle.js
src/Dormant Components/TaskWork.js
src/Dormant Components/Test_Task_List.js
src/ActionButtons.js
src/TaskBox.js
src/TaskBoxMore.js
src/TaskCategory.js
src/TaskCount.js
src/TaskCount1.js
src/TaskCount2.js
src/TaskGoalDate.js
src/TaskList02.js
src/TaskPersonal.js
src/TaskTile.js
src/TaskTitle.js
src/TaskWork.js
src/Test_Task_List.js
